<div class="row conversation border">
    <%= image_tag url_for(notification.user_avatar_key), crop: :fill, class:"avatar" %>
    <div class="d-flex flex-column ml-3">
        <% if notification.conversation_id.nil? == false %>
            <%= link_to conversation_messages_path(notification.conversation_id), class: "text-dark" do %>
                <strong><%= notification.content %></strong>
            <% end %>
        <% elsif notification.booking_id.nil? == false %>
            <%= link_to booking_path(notification.booking_id), class: "text-dark" do %>
                <strong><%= notification.content %></strong>
            <% end %>
        <% end %>
        <small><%= notification.created_at.to_formatted_s(:short) %></small>
    </div>
</div>
